/dissertacao/tese.pdf
/dissertacao/victor-tese-1.pdf
/dissertacao/victor-tese-2.pdf
/dissertacao/victor-tese-3.pdf
/bkp_tables_slides/
/slides/victor-slides-dissertacao.pdf
/slides/victor-slides-final.pdf
/slides/victor-slides-v1.pdf
/dissertacao/logo-ic-unicamp-slant-line-wht-sky-ora-0480-eps-converted-to.pdf
/dissertacao/logo-unicamp-name-line-blk-red-0480-eps-converted-to.pdf
/dissertacao/CHANGELOG
/dissertacao/sections/appendix/2011BSBDP.pdf
/dissertacao/victor-dissertacao-final-v5.pdf
